*{
  font-family: 'Quicksand', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
  --dark-color: #364547;
  --light-color: #2F5D62;
  --back-light-color: #c3dfff;
}
body{
  width: 100vw;
  overflow-x: hidden;
}
#root{
  width: 100%;
}