.home-div{
  background-color: var(--back-light-color);
  position: relative;
  width: 60%;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin: 0px auto 0px auto;
  padding-top: 57px; /* EXPERIMENTING PADDING INSTEAD OF MARGIN */
}